.buttonPrimary() {
    text-decoration: none;
    padding: 8px;
    background-color: #colors[secundary];
    border-radius: 8px;
    font-weight: bold;

    &:hover {
        transition: all ease .2s;
        background-color: #colors[secundary2];
    }
}